In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('arboles.csv')
df[['nombre_com', 'diametro']]

                       nombre_com  diametro
0                       Casuarina        63
1                           Fenix        70
2                         Palmito       200
3                       Eucalipto       113
4                       Eucalipto        84
5  Pata de vaca  (Pezuña de vaca)        15
6  Pata de vaca  (Pezuña de vaca)        50
7  Pata de vaca  (Pezuña de vaca)        18
8           Kauri de corteza lisa        56
9  Pata de vaca  (Pezuña de vaca)        32